/* CSS Document */
body{padding:0; margin:0; font:14px/20px Arial, Helvetica, sans-serif; color:#3D3C2C; font-weight:normal; background:url(images/background.png)}
div, p, h1, h2, h3, ul, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

/* TOP PANEL */
#topPan{width:786px; height:120px; position:relative; margin:0 auto; padding:0; left:7px; background:url(images/menu2.png)}
#topPan img{width:110px; height:87px; display:block; padding:23px 0px 0 80px; }
/* Menu Panel */
#topPanMenu{width:520px; height:60px; display:block; position:absolute; top:0px; right:9px; margin:0; padding:0}
#topPanMenu img{width:45px; height:40px; display:block; padding:15px 0 0 455px;} 
#topPanMenu p{display:block; padding:0px 0 0 430px; font:10px/10px Georgia,"Times New Roman", Times, serif; color: #e6e5e5}
#topPanMenu ul li{float:left; width:104px; display:block; text-align:center;}
#topPanMenu ul li a{width:104px; height:35px; display:block; font:14px/14px Georgia,"Times New Roman", Times, serif; color:#e6e5e5; text-decoration:none; margin:0; padding:10px 0 0 0; } //moje grupy
.link1{color:#e6e5e5}
.link1:hover{color: #e5e5e5; border-bottom: 2px solid #DCDAC2; padding-bottom: 20px}
.konto{ margin-left: 417px}
.link2{color:#e6e5e5; text-decoration: none; font: 10px/10px Georgia,"Times New Roman", Times, serif; background: none; border: none}
.link2:hover{color: #e5e5e5}
#topPanMenu ul li span{width:104px; height:35px; display:block; color:#2E4E00; text-decoration:none; padding:61px 0 0 0; line-height:14px;} //lista zakupów 

/* /TOP PANEL */

/* HEADER PANEL */
#headerPan{width:778px; height:327px; position:absolute; margin:0 auto 50px 0; padding:0; top:50px}
#headerPan h1{width:526px; height:256px; position:absolute; top:35px; right:0px; color:#fff; font-size:36px;}
#headerPanleft{ width:237px; height:374px; position:absolute; top:147px; left:233px;}

#leftPan{width:239px; height:300px; position:absolute; top:0px; left:8px; margin:0; padding:0px;}

#leftPan2{width:200px; height:300px; position:absolute; top:20%; margin:0;  padding:20px 15px 0 20px;}
#leftmemberPan{width:237px; height:196px; position:relative; margin:0 auto; padding:0}
#leftmemberPan h2{height:48px;  display:block; position:relative; padding:0 0 0 57px; margin:12px 0 20px 13px; font:16px/48px  Georgia,"Times New Roman", Times, serif; color:#5EA000; text-transform:uppercase;}
#leftPan2 form{width:220px; height:108px; padding:0; margin:0 0 0 8px;}
#headerPanleft2{width:237px; height:374px; position:absolute; top:20%; left: 350px}

#nowaLista{float:left; width:237px; height:64px; position:relative; margin:13px 0 0 0; background:url(images/icon1.png) 0 0 no-repeat;}
#nowaLista h2{width:90px; height:10px; background:#a0b7b0; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#nowaLista p{width:103px; height:10px; display:block; position:absolute; font:10px/12px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E5000; background:#fff; margin:34px 0 0 81px; z-index:1; }
#nowaLista a{text-decoration:none; display:block; width:237px; height:62px;}

#nowaGrupa{float:left; width:237px; height:64px; position:relative; margin:4px 0 0 57px; background:url(images/icon1.png) 0 0 no-repeat;}
#nowaGrupa h2{width:90px; height:10px; background:#a0b7b0; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#nowaGrupa p{width:103px; height:10px; display:block; position:absolute; font:10px/12px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E5000; background:#fff; margin:34px 0 0 81px; z-index:1; }
#nowaGrupa a{text-decoration:none; display:block; width:237px; height:62px;}

#mojeListy{float:left; width:237px; height:102px; position:relative; margin:13px 0 0 0; background:url(images/icon2-nor.gif) 0 0 no-repeat;}
#mojeListy h2{width:90px; height:10px; background:#a0b7b0; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#mojeListy p{width:103px; height:10px; display:block; position:absolute; font:10px/12px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E5000; background:#fff; margin:34px 0 0 81px; z-index:1; }
#mojeListy a{text-decoration:none; display:block; width:237px; height:62px;}

/* BODY PANEL */
#bodyPan{width:778px; height:887px; position:relative; margin:0 auto; padding:0; }
/*Left Panel */
#leftPan{width:239px; height:611px; position:absolute; top:0px; left:8px; margin:0; padding:0px;}
#leftmemberPan{width:237px; height:196px; position:relative; margin:0 auto; padding:0}
#leftmemberPan h2{height:48px;  display:block; position:relative; padding:0 0 0 57px; margin:12px 0 20px 13px; font:16px/48px  Georgia,"Times New Roman", Times, serif; color:#5EA000; text-transform:uppercase;}

#leftPango{width:220px; height:25px; position:absolute; top:160px; left:8px; border-top:1px solid #fff; background:#B0AD93; display:block; padding:0; margin:0; font-size:12px; color:#FFFFFA; line-height:23px; font-weight:bold;}
#leftPango p.textposition a{float:left; padding:0 0 0 20px; margin:0; text-decoration:none; color:#FFFFFA; background:#B0AD93;}
#leftPango p.textposition a:hover{text-decoration:underline; background:none;}
#leftPan form input.gobutton{float:right; background:url(images/arrow4.gif) no-repeat 30px 0 #63614F; border:none; width:45px; height:21px; display:block; margin:2px 0 0 0; padding:0 0 0 5px; text-decoration:none; color:#fff; font:14px/21px "Trebuchet MS",Arial, Helvetica, sans-serif; text-transform:uppercase; text-align:left;}

#leftPan .menu{width: 220px; height: 108px; padding:0; margin: 0 0 -44px 0;}

#udostepnij{float:left; width:237px; height:49px; position:relative; margin:13px 0 0 0; background:url(images/icon4-nor.gif) 0 0 no-repeat;}
#udostepnij h2{width:90px; height:10px; background:#a0b7b0; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#udostepnij p{width:103px; height:10px; display:block; position:absolute; font:10px/12px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E5000; background:#fff; margin:34px 0 0 81px; z-index:1; }
#udostepnij a{text-decoration:none; display:block; width:237px; height:62px;}

#zmien{float:left; width:237px; height:49px; position:relative; margin:13px 0 0 0; background:url(images/icon5-nor.gif) 0 0 no-repeat;}
#zmien h2{width:90px; height:10px; background:#a0b7b0; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#zmien p{width:103px; height:10px; display:block; position:absolute; font:10px/12px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E5000; background:#fff; margin:34px 0 0 81px; z-index:1; }
#zmien a{text-decoration:none; display:block; width:237px; height:62px;}

#leftPan2 #usun h2{width:90px; height:10px; background:#a0b7b0; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#headerPan #zmienZdjecie {float:left; width:237px; height:48px; position:relative; margin:13px 0 0 0; background:url(images/icon6-nor.gif) 0 0 no-repeat; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}

#headerPan #usun{ float:left; width:237px; height:48px; position:relative; margin:13px 0 0 0; background:url(images/icon6-nor.gif) 0 0 no-repeat; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}

#headerPan #kopiuj{ float:left; width:237px; height:48px; position:relative; margin:13px 0 0 0; background:url(images/icon7-nor.gif) 0 0 no-repeat; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}

#headerPan #sortuj{ float:left; width:237px; height:48px; position:relative; margin:13px 0 0 0; background:url(images/icon8-nor.gif) 0 0 no-repeat; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}

/*/Left Panel */

#rightPan2{width:504px; height:650px; position:absolute; left:570px; top:126px; right:10px; border:1px solid #DCDAC2; color:#3D3C2C;}
#rightbodyPan2{width:484px; height:555px; position:absolute; top:10px; left:10px; color:#3D3C2C;}
/*Right Panel */
#rightPan{width:504px; height:650px; position:absolute; left:559px; top:126px; right:10px; background:url(images/notebook.png) 0 0 no-repeat; // border:1px solid #DCDAC2; color:#3D3C2C;}
#rightbodyPan{width:484px; height:555px; position:absolute; top:76px; left:10px; color:#3D3C2C;}
#rightbodyPan h2{width:484px; height:31px; display:block; position: relative; font:18px/18px Georgia, "Times New Roman", Times, serif; color:#3D3C2C;}
#rightbodyPan h4{width:484px; height:31px; display:block; position: absolute; top:10px}
#rightbodyPan h4 .b1{width: 363px; height: 31px; position: absolute; left:25px; background:url(images/icon9-nor.gif) 0 0 no-repeat; float: left}
#rightbodyPan h4 .b1 h2{width:90px; height:10px; display:block; position:absolute; left:0px; top:0px; margin:11px 0 5px 35px; font:9px/9px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#rightbodyPan h4 .b2{width: 120px; height: 31px; position: absolute; right: 17px; background:url(images/icon10-nor.gif) 0 0 no-repeat; float: left}
#rightbodyPan h4 .b2 h2{width:90px; height:10px; display:block; position:absolute; left:-350px; top:0px; margin:11px 0 5px 405px; font:9px/9px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#rightbodyPan #table{width: 466px; height: 31px; border-bottom: 2px solid #DCDAC2; float: left; top: 78px; left:11px; position: absolute}
#rightbodyPan .column1{width:160px; float:left;}
#rightbodyPan .column2{width:100px; float:left; }
#rightbodyPan .column3{width:70px; float:left; }
#rightbodyPan .column4{width:80px; float:left; }
#rightbodyPan .column5{width:25px; float:left; }
#rightbodyPan .column6{width:20px; float:left; }
#rightbodyPan .th1{width: 160px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif; font-weight: bold; }
#rightbodyPan .th2{width: 100px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif; font-weight: bold; }
#rightbodyPan .th3{width: 70px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif; font-weight: bold; }
#rightbodyPan .th4{width: 80px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif; font-weight: bold; }
#rightbodyPan .th5{width: 25px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif; font-weight: bold; }
#rightbodyPan .th6{width: 20px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif; font-weight: bold; }
#rightbodyPan  #usuwanieProduktu{width: 17px; height: 17px; background:url(images/icon1.gif) 0 0 no-repeat; }
#rightbodyPan input{width: 17px; height: 17px;}
#rightbodyPan .sum{width:490px; height:31px; position:absolute; left:0px; top:516px; right:0px; border-top:1px solid #DCDAC2}
#rightbodyPan .s1{float:left; width:415px; margin:10px 0 0px 0px; font:12px/12px Georgia, "Times New Roman", Times, serif;}
#rightbodyPan .s2{float:left; width:60px; margin:10px 0 0px 0px; font:12px/12px Georgia, "Times New Roman", Times, serif;}

/*TABLICA DLA MOJE LISTY -> div rigthbodyPan*/
#table2{width: 480px; height: 31px; border-bottom: 2px solid #DCDAC2; float: left; top: 8px; left:6px; position: absolute}
#table2 .column1{width:240px; float:left;}
#table2 .column2{width:135px; float:left; }
#table2 .column3{width:50px; float:left; }
#table2 .column4{width:50px; float:left; }
#table2 .th1{width: 240px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif;}
#table2 .th2{width: 135px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif;}
#table2 .th3{width: 50px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif; font-weight: bold; }
#table2 .th4{width: 50px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif; font-weight: bold; }
#table2 .column3 .img1{width: 17px; height: 17px; padding: 11px 0px 4px 50px; }
#table2 .column4 .img2{width: 17px; height: 17px; padding: 11px 0px 4px 22px; }
#table2 input{margin:5px 5px 11px 35px; padding-top: 5px; font:12px/12px Georgia, "Times New Roman", Times, serif;}

/*KONIEC - tablica moje listy*/

/*U£O¯ENIE IKON W MOJE GRUPY -> div rigthbodyPan*/
#editable{ position:relative; display:block; margin-top:5%; margin-left: 5%}
#addedName{position:relative;  float:left; display:block;  margin-left: 5%; font-weight: bold; font:14px, Comic Sans MS,"Trebuchet MS",Arial;}
.divGroup{position:relative;  float:left; display:block;  margin-left: 5%}

/*Grupy*/
#grupa{position:relative;  float:left; display:block; margin-top:5%; margin-left:10%}
#ulubione_img{position:relative; display:block; margin-top:40%;}
#edytuj_btn{display:block; position:relative; width:27px; height:21px; float:right; margin-left:10%; background-image:url(images/edytuj.png);}

#zmienDane{width:484px; height:400px; display:block;  position:relative; margin-left:auto; margin-right:auto;   padding:0; color:#000;}
#zmiana_formularz{width:484px; position:relative; top:5%; height:108px; }
#zmiana_formularz label{width:150px; position:relative; display:block; font:12px/12px Comic Sans MS,"Trebuchet MS",Arial; float:left; margin-top:10px; }
#naglowek{width:150px; position:relative; display:block; font:16px/12px Comic Sans MS,"Trebuchet MS",Arial; color:#82B3AE; float:left; margin-top:5%; }
.inputs{position:relative; display:block; width:130px; height:16px;  margin:10px 0 0px 0px;}

#zapisz_zmiany_btn{float:left; display:block; width:190px; height:30px; margin-left:30%; margin-top:5%; background-color:#5EA000; color:white}

#dodawanieProduktu #notatka{width: 200px; height: 60px; padding: 3px}
#dodawanieProduktu #button{width: 70px; height: 40px; position: absolute; bottom: 60px; right: 20px;  font:12px/12px Georgia, "Times New Roman", Times, serif; }
#dodawanieProduktu #zakoncz{width: 70px; height: 40px; position: absolute; bottom: 10px; right: 20px;  font:12px/12px Georgia, "Times New Roman", Times, serif; }
#dodawanieProduktu input{padding: 6px; margin: 11px 50px 2px 14px; font:12px/12px Georgia, "Times New Roman", Times, serif; position: relative; border-radius: 4px; border:2px solid #DCDAC2; }

/* /BODY PANEL */

/*DODAWANIE GRUPY*/
#submit_nowa_grupa{float:left; display:block; margin-right:auto; margin-left: 30%; margin-top: 5% }
#anuluj_btn{float:left; display:block; margin-right:auto;margin-top: 5%  }
.grupa_class{float:left; display:block; position:relative; margin-top:5%;}
#output{float:left;display:block;  margin-top:5%; margin-left:10%}
#chosen_pic{float:left;display:block; margin-top: 5%; margin-left:10%}
#formatPliku{float:left; display:block; font:12px Comic Sans MS; margin-top: 5%; margin-left:10%}

/*EDYCJA GRUPY*/

#new_nazwa_grupy{display:block; position:relative;}
#komunikat_label{float:left; display:block; margin-top: 5%; color:#d22133; width:500px; font:10px Comic Sans MS; }

.grupa_class{
    float:left;
    display:block; 
    position:relative;
    margin-top:5%;
}

#output{float:left;display:block;  margin-top:5%; margin-left:10%}
#chosen_pic{float:left;display:block; margin-top: 5%; margin-left:10%}

/*DODAWANIE KONTAKTU*/
#submit_nowy_kontakt{float:left; display:block; margin-right:auto; margin-left: 30%; margin-top: 5% }
#anuluj_btn{float:left; display:block; margin-right:auto;margin-top: 5%  }
#dodaj_czlonkow{float:left; display:block; margin-right:auto;margin-top: 5% }
#usun_czlonkow{float:left; display:block; margin-right:auto;margin-top: 5% }

.buttons{
    float:left;
    display:block; 
    margin-top:5%;
    color:white;
    font-style: bold;
    font: Comic Sans MS;
    background-color:#a0b7b0;
    
}
#output{float:left;display:block;  margin-top:5%; margin-left:10%}
#chosen_pic_contact{float:left;display:block; margin-top: 5%; margin-left:10%}


/*FOOTER*/
/*
footer{width: 778px; height: 200px; float: left; background-image: url(images/dol.png); background-repeat: no-repeat; margin-top: 150px}
.twitter{padding-left: 520px; padding-right: 610px}
.facebook{padding-left: 610px; padding-right: 520px}
.dogory{width: 300px; height: 60px; border-radius: 7px; background-color: #000000; border-color: #000000; font-family: Open Sans; color: #fefefe; font-size: 12px; font-weight: 400; line-height: 18px;}
*/

.message {
    color: black;
    margin: 10px;
    width: 200px;
    height: 80px;
    padding: 25px;
    border: 2px solid black;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    
  background: -webkit-linear-gradient(left top,#ccc2c2, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ccc2c2, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ccc2c2, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ccc2c2, white); /* Standard syntax */
}

.message h4 {
    margin-bottom: 15px;
}
