/* CSS Document */
body{padding:0; margin:0; font:14px/20px Arial, Helvetica, sans-serif; color:#3D3C2C; font-weight:normal; background:url(images/background.png)}
div, p, h1, h2, h3, ul, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

/* TOP PANEL */
#topPan{width:786px; height:120px; position:relative; margin:0 auto; padding:0; left:7px; background:url(images/menu2.png)}
#topPan img{width:110px; height:87px; display:block; padding:23px 0px 0 80px; }
/* Menu Panel */
#topPanMenu{width:520px; height:60px; display:block; position:absolute; top:0px; right:9px; margin:0; padding:0}
#topPanMenu img{width:45px; height:40px; display:block; padding:15px 0 0 455px;} 
#topPanMenu p{display:block; padding:0px 0 0 430px; font:10px/10px Georgia,"Times New Roman", Times, serif; color: #e6e5e5}
#topPanMenu ul li{float:left; width:104px; display:block; text-align:center;}
#topPanMenu ul li a{width:104px; height:35px; display:block; font:14px/14px Georgia,"Times New Roman", Times, serif; color:#e6e5e5; text-decoration:none; margin:0; padding:10px 0 0 0; } //moje grupy
.link1{color:#e6e5e5}
.link1:hover{color: #e5e5e5; border-bottom: 2px solid #DCDAC2; padding-bottom: 20px}
.konto{ margin-left: 417px}
.link2{color:#e6e5e5; text-decoration: none; font: 10px/10px Georgia,"Times New Roman", Times, serif; background: none; border: none}
.link2:hover{color: #e5e5e5}
#topPanMenu ul li span{width:104px; height:35px; display:block; color:#2E4E00; text-decoration:none; padding:61px 0 0 0; line-height:14px;} //lista zakupów 

/* /TOP PANEL */

/* HEADER PANEL */
#headerPan{width:778px; height:327px; position:absolute; margin:0 auto 50px 0; padding:0; top:50px}
#headerPan h1{width:526px; height:256px; position:absolute; top:35px; right:0px; color:#fff; font-size:36px;}
#headerPanleft{ width:237px; height:374px; position:absolute; top:147px; left:233px;}

#leftPan{width:239px; height:300px; position:absolute; top:0px; left:8px; margin:0; padding:0px;}

#leftPan2{width:200px; height:300px; position:absolute; top:20%; margin:0;  padding:20px 15px 0 20px;}
#leftmemberPan{width:237px; height:196px; position:relative; margin:0 auto; padding:0}
#leftmemberPan h2{height:48px;  display:block; position:relative; padding:0 0 0 57px; margin:12px 0 20px 13px; font:16px/48px  Georgia,"Times New Roman", Times, serif; color:#5EA000; text-transform:uppercase;}
#leftPan2 form{width:220px; height:108px; padding:0; margin:0 0 0 8px;}
#headerPanleft2{width:237px; height:374px; position:absolute; top:20%; left: 350px}

#nowaLista{float:left; width:237px; height:64px; position:relative; margin:13px 0 0 0; background:url(images/icon1.png) 0 0 no-repeat;}
#nowaLista h2{width:90px; height:10px; background:#a0b7b0; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#nowaLista p{width:103px; height:10px; display:block; position:absolute; font:10px/12px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E5000; background:#fff; margin:34px 0 0 81px; z-index:1; }
#nowaLista a{text-decoration:none; display:block; width:237px; height:62px;}

#mojeListy{float:left; width:237px; height:102px; position:relative; margin:13px 0 0 0; background:url(images/icon2-nor.gif) 0 0 no-repeat;}
#mojeListy h2{width:90px; height:10px; background:#a0b7b0; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#mojeListy p{width:103px; height:10px; display:block; position:absolute; font:10px/12px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E5000; background:#fff; margin:34px 0 0 81px; z-index:1; }
#mojeListy a{text-decoration:none; display:block; width:237px; height:62px;}

/* BODY PANEL */
#bodyPan{width:778px; height:887px; position:relative; margin:0 auto; padding:0; }
/*Left Panel */
#leftPan{width:239px; height:611px; position:absolute; top:0px; left:8px; margin:0; padding:0px;}
#leftmemberPan{width:237px; height:196px; position:relative; margin:0 auto; padding:0}
#leftmemberPan h2{height:48px;  display:block; position:relative; padding:0 0 0 57px; margin:12px 0 20px 13px; font:16px/48px  Georgia,"Times New Roman", Times, serif; color:#5EA000; text-transform:uppercase;}
#leftPan form{width:220px; height:108px; padding:0; margin:0 0 0 8px;}

#leftPango{width:220px; height:25px; position:absolute; top:160px; left:8px; border-top:1px solid #fff; background:#B0AD93; display:block; padding:0; margin:0; font-size:12px; color:#FFFFFA; line-height:23px; font-weight:bold;}
#leftPango p.textposition a{float:left; padding:0 0 0 20px; margin:0; text-decoration:none; color:#FFFFFA; background:#B0AD93;}
#leftPango p.textposition a:hover{text-decoration:underline; background:none;}
#leftPan form input.gobutton{float:right; background:url(images/arrow4.gif) no-repeat 30px 0 #63614F; border:none; width:45px; height:21px; display:block; margin:2px 0 0 0; padding:0 0 0 5px; text-decoration:none; color:#fff; font:14px/21px "Trebuchet MS",Arial, Helvetica, sans-serif; text-transform:uppercase; text-align:left;}

.podziel{float:left; width:237px; height:48px; position:relative; margin: 13px 0px 0 0; z-index: 1}
.podziel ol{list-style-type:none; margin: 0 0 0 -40px; text-align: center; height: 2em; line-height: 2em}
.podziel ol a {display:block; text-decoration:none; padding:0 5px;margin:14px 23px 10px 60px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000;}
.podziel ol>li:hover{text-decoration:none; background:url(images/icon4-hover.gif) no-repeat 0 0;}
.podziel ol>li{float: left; width:237px; height:62px; background:url(images/icon4-nor.gif) 0 0 no-repeat; margin: 0 0px 0 0;  margin-left:1px;}
.podziel ol>li:first-child{margin-left:0px;}
.podziel ol>li>ul{list-style-type: none; width: 237px; position: absolute; text-align:left; padding-left: 0px; margin-left: 235px; margin-top: -53px; display: none; background-color:#bfd8d0}  
.podziel ol>li>ul img{width: 20px; height: 20px; padding: 0px 10px 0px 10px; }
.podziel ol>li>ul>il{background-color:#EEE}
.podziel ol>li>ul>li:hover{background-color:#DDD;}
.podziel ol>li:hover>ul{display: block;}

#zmien{ float:left; width:237px; height:48px; position:relative; margin:13px 0 0 0; background:url(images/icon5-nor.gif) 0 0 no-repeat;}
#zmien h2{width:90px; height:10px; background:#a0b7b0; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#zmien p{width:103px; height:10px; display:block; position:absolute; font:10px/12px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E5000; background:#fff; margin:34px 0 0 81px; z-index:1; }
#zmien a{text-decoration:none; display:block; width:237px; height:62px;}


#headerPan #usun{ float:left; width:237px; height:48px; position:relative; margin:13px 0 0 0; background:url(images/icon6-nor.gif) 0 0 no-repeat;}
#headerPan #usun h2{width:90px; height:10px; background:#a0b7b0; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#headerPan #usun p{width:103px; height:10px; display:block; position:absolute; font:10px/12px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E5000; background:#fff; margin:34px 0 0 81px; z-index:1; }
#headerPan #usun a{text-decoration:none; display:block; width:237px; height:62px;}


#headerPan #kopiuj{ float:left; width:237px; height:48px; position:relative; margin:13px 0 0 0; background:url(images/icon7-nor.gif) 0 0 no-repeat;}
#headerPan #kopiuj h2{width:90px; height:10px; background:#a0b7b0; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#headerPan #kopiuj p{width:103px; height:10px; display:block; position:absolute; font:10px/12px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E5000; background:#fff; margin:34px 0 0 81px; z-index:1; }
#headerPan #kopiuj a{text-decoration:none; display:block; width:237px; height:62px;}


#headerPan #sortuj{ float:left; width:237px; height:48px; position:relative; margin:13px 0 0 0; background:url(images/icon8-nor.gif) 0 0 no-repeat;}
#headerPan #sortuj h2{width:90px; height:10px; background:#a0b7b0; display:block; position:absolute; left:0px; top:0px; margin:14px 0 5px 81px; font:16px/14px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#headerPan #sortuj p{width:103px; height:10px; display:block; position:absolute; font:10px/12px "Trebuchet MS",Arial, Helvetica, sans-serif; color:#2E5000; background:#fff; margin:34px 0 0 81px; z-index:1; }
#headerPan #sortuj a{text-decoration:none; display:block; width:237px; height:62px;}



/*/Left Panel */

#rightPan2{width:504px; height:650px; position:absolute; left:570px; top:126px; right:10px; border:1px solid #DCDAC2; color:#3D3C2C;}
#rightbodyPan2{width:484px; height:555px; position:absolute; top:10px; left:10px; color:#3D3C2C;}
/*Right Panel */
#rightPan{width:504px; height:650px; position:absolute; left:500px; top:126px; right:10px; background:url(images/notebook.png) 0 0 no-repeat; // border:1px solid #DCDAC2; color:#3D3C2C;}
#rightbodyPan{width:484px; height:555px; position:absolute; top:76px; left:10px; color:#3D3C2C;}
#rightbodyPan h2{width:484px; height:31px; display:block; position: relative; font:18px/18px Georgia, "Times New Roman", Times, serif; color:#3D3C2C;}
#rightbodyPan h4{width:484px; height:31px; display:block; position: absolute; top:10px}
#rightbodyPan h4 .b1{width: 363px; height: 31px; position: absolute; left:25px; background:url(images/icon9-nor.gif) 0 0 no-repeat; float: left}
#rightbodyPan h4 .b1 h2{width:90px; height:10px; display:block; position:absolute; left:0px; top:0px; margin:11px 0 5px 35px; font:9px/9px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#rightbodyPan h4 .b2{width: 120px; height: 31px; position: absolute; right: 17px; background:url(images/icon10-nor.gif) 0 0 no-repeat; float: left}
#rightbodyPan h4 .b2 h2{width:90px; height:10px; display:block; position:absolute; left:-350px; top:0px; margin:11px 0 5px 405px; font:9px/9px Georgia, "Times New Roman", Times, serif; color:#000000; z-index:1; text-transform:uppercase;}
#rightbodyPan #table{width: 466px; height: 31px; border-bottom: 2px solid #DCDAC2; float: left; top: 78px; left:11px; position: absolute}
#rightbodyPan .column1{width:160px; float:left;}
#rightbodyPan .column2{width:100px; float:left; }
#rightbodyPan .column3{width:70px; float:left; }
#rightbodyPan .column4{width:105px; float:left; }
#rightbodyPan .column5{width:20px; float:left; }
#rightbodyPan .th1{width: 160px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif; font-weight: bold; }
#rightbodyPan .th2{width: 100px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif; font-weight: bold; }
#rightbodyPan .th3{width: 70px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif; font-weight: bold; }
#rightbodyPan .th4{width: 105px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif; font-weight: bold; }
#rightbodyPan .th5{width: 20px; float: left; left:0px; text-align: left; font:14px/14px Georgia, "Times New Roman", Times, serif; font-weight: bold; }
#rightbodyPan .img1{width: 17px; height: 17px;}
#rightbodyPan .sum{width:490px; height:31px; position:absolute; left:0px; top:516px; right:0px; border-top:1px solid #DCDAC2}
#rightbodyPan .s1{float:left; width:415px; margin:10px 0 0px 0px; font:12px/12px Georgia, "Times New Roman", Times, serif;}
#rightbodyPan .s2{float:left; width:60px; margin:10px 0 0px 0px; font:12px/12px Georgia, "Times New Roman", Times, serif;}

#grupa{position:relative;  float:left; display:block; margin-top:5%; margin-left:10%}
#ulubione_img{position:relative; display:block; margin-top:40%;}
#edytuj_btn{display:block; position:relative; width:27px; height:21px; float:right; margin-left:10%; background-image:url(images/edytuj.png);}

#zmienDane{width:484px; height:400px; display:block;  position:relative; margin-left:auto; margin-right:auto;   padding:0; color:#000;}
#zmiana_formularz{width:484px; position:relative; top:5%; height:108px; }
#zmiana_formularz label{width:150px; position:relative; display:block; font:12px/12px Comic Sans MS,"Trebuchet MS",Arial; float:left; margin-top:10px; }
#naglowek{width:150px; position:relative; display:block; font:16px/12px Comic Sans MS,"Trebuchet MS",Arial; color:#82B3AE; float:left; margin-top:5%; }
.inputs{position:relative; display:block; width:130px; height:16px;  margin:10px 0 0px 0px;}

#zapisz_zmiany_btn{float:left; display:block; width:190px; height:30px; margin-left:30%; margin-top:5%; background-color:#5EA000; color:white}

#noweokno{width: 360px; height: 290px; position: absolute; left: 70px; top: 260px; right: 70px; border:2px solid #DCDAC2; background-color: #d9d9d9}
#noweokno h2{margin:11px 0 5px 7px; font:14px/14px Georgia, "Times New Roman", Times, serif;}
#noweokno input{padding: 6px; margin: 11px 50px 2px 14px; font:12px/12px Georgia, "Times New Roman", Times, serif; position: relative; border-radius: 4px; border:2px solid #DCDAC2; }
#noweokno #notatka{width: 200px; height: 60px; padding: 3px}
#noweokno #button{width: 70px; height: 40px; position: absolute; bottom: 60px; right: 20px;  font:12px/12px Georgia, "Times New Roman", Times, serif; }
#noweokno #zakoncz{width: 70px; height: 40px; position: absolute; bottom: 10px; right: 20px;  font:12px/12px Georgia, "Times New Roman", Times, serif; }
/* /BODY PANEL */

/*DODAWANIE GRUPY*/
#submit_nowa_grupa{float:left; display:block; margin-right:auto; margin-left: 30%; margin-top: 5% }
#anuluj_btn{float:left; display:block; margin-right:auto;margin-top: 5%  }
.grupa_class{float:left; display:block; position:relative; margin-top:5%;}
.buttons{color:white;font-style: bold;font: Comic Sans MS;background-color:#a0b7b0;}
#output{float:left;display:block;  margin-top:5%; margin-left:10%}
#chosen_pic{float:left;display:block; margin-top: 5%; margin-left:10%}

/*DODAWANIE GRUPY*/
#submit_nowa_grupa{float:left; display:block; margin-right:auto; margin-left: 30%; margin-top: 5% }
#anuluj_btn{float:left; display:block; margin-right:auto;margin-top: 5%  }
.grupa_class{
    float:left;
    display:block; 
    position:relative;
    margin-top:5%;
}
.buttons{
    color:white;
    font-style: bold;
    font: Comic Sans MS;
    background-color:#a0b7b0;
    
}
#output{float:left;display:block;  margin-top:5%; margin-left:10%}
#chosen_pic{float:left;display:block; margin-top: 5%; margin-left:10%}

/*DODAWANIE KONTAKTU*/
#submit_nowy_kontakt{float:left; display:block; margin-right:auto; margin-left: 30%; margin-top: 5% }
#anuluj_btn{float:left; display:block; margin-right:auto;margin-top: 5%  }
#dodaj_czlonkow{float:left; display:block; margin-right:auto;margin-top: 5% }
#usun_czlonkow{float:left; display:block; margin-right:auto;margin-top: 5% }
.grupa_class{
    float:left;
    display:block; 
    position:relative;
    margin-top:5%;
}
.buttons{
    float:left;
    display:block; 
    margin-top:10%;
    color:white;
    font-style: bold;
    font: Comic Sans MS;
    background-color:#a0b7b0;
    
}
#output{float:left;display:block;  margin-top:5%; margin-left:10%}
#chosen_pic_contact{float:left;display:block; margin-top: 5%; margin-left:10%}


/*FOOTER*/
/*
footer{width: 778px; height: 200px; float: left; background-image: url(images/dol.png); background-repeat: no-repeat; margin-top: 150px}
.twitter{padding-left: 520px; padding-right: 610px}
.facebook{padding-left: 610px; padding-right: 520px}
.dogory{width: 300px; height: 60px; border-radius: 7px; background-color: #000000; border-color: #000000; font-family: Open Sans; color: #fefefe; font-size: 12px; font-weight: 400; line-height: 18px;}
*/
